body{
	background-image:url(italy.jpg);
	background-size:1400px 700px;
	background-repeat:no-repeat;
	font-family: 'Shadows Into Light', cursive;
	font-size:117px;
	min-width:1320px;
}

.main-menu {
margin-top:250px;
margin-left:160px;
margin-right:310px;
list-style: none;
position:absolute;


}
.main-menu li {
display:inline-block;
margin-right: -4px;

}
.main-menu a {
text-decoration: none;
display: block;
padding: 8px 10px;
background-color: #F5F5F5;
border-radius:7px 4px 10px 13px;
margin-left:-4px;
}
.main-menu a:hover {
background-color: #C1FFC1;
}